.card {
  display: flex;
  flex-direction: column;
  max-width: 413px;
  gap: 12px;
  position: relative;
}
.card__button-picture {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}
.card__button-picture:hover {
  cursor: pointer;
}

.card__picture {
  width: 100%;
  height: 413px;
  object-fit: cover;
  border-radius: 8px;
}


.card__content {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

}

.card__name {
  max-width: 353px;
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like {
  border: none;
  background-image: url(../images/like_icon.svg);
  background-repeat: no-repeat;
  background-size: 23px 20px;
  width: 23px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.4;
  margin: 0;
}

.card__like--liked {
  background-image: url(../images/like_icon--liked.svg);
  opacity: 1;
}

.card__like:hover {
  opacity: 1;
}

.card__like--liked:hover {
  opacity: 0.5;
}

.card__delete {
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 10px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: #00000030;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__delete-icon {
  height: 15px;
  width: 12px;
}

.card__delete:hover {
  opacity: 1;
  background: #ff6565;
}

@media screen and (max-width: 627px) {
  .card__picture {
    height: 288px;
  }

  .card__name {
    font-size: 16px;
    max-width: 235px;
  }

  .card__like {
    background-size: 20px 18px;
    width: 20px;
    height: 18px;
  }
}