.cards {
  width: 100%;
  padding: 20px 0 40px;
}

.cards-list {
  max-width: 1400px;
  display: grid;
  justify-content: center;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 20px;
  padding: 0;
}

@media screen and (max-width: 627px) {
  .cards-list {
    grid-template-columns: repeat(auto-fit, 288px);
  }
}