.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1320px) and (min-width:630px) {
  .content {
    max-width: 880px;
  }
}

@media screen and (max-width: 630px) {
  .content {
    max-width: 288px;
  }
}