.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 20px;
  border-bottom: 1px solid #21212140;
}

@media screen and (max-width: 880px) {
  .header {
    flex-direction: column;
    justify-content: center;
  }
}