.menubar {
  width: 100%;
  border-bottom: 1px solid #21212166;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 26px;
  width: 94px;
  margin: 10px auto;
}