.my-avatar {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.my-avatar__picture {
  width: 190px;
  height:190px;
  border-radius: 8px;
  gap: 20px;
}

.my-avatar__description-and-edit-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 420px;
}

.my-avatar__description {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.my-avatar__name {
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  color: #212121;
  max-width: 420px;
  margin: 0 0 12px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.my-avatar__title {
  font-size: 16px;
  font-weight: 500px;
  line-height: 1;
  color: #212121B2;
  margin: 0px;
  max-width: 420px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.my-avatar__edit-button {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 500px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  opacity: 70%;
  align-self: start;
}

.my-avatar__edit-button:hover {
  opacity: 100%;
}

.my-avatar__edit-button:focus-visible {
  outline: 2px solid #0066cc;
  outline-offset: 2px;
}

@media screen and (max-width: 630px)  {
  .my-avatar {
    flex-direction: column;
    gap: 12px;
  }

  .my-avatar__picture {
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }

  .my-avatar__description-and-edit-button {
    gap: 32px;
  }

  .my-avatar__description {
    gap: 6px;
    text-align: center;

  }

  .my-avatar__name {
    font-size: 20px;
    line-height: 100%;
  }

  .my-avatar__title {
    font-size: 16px;
  }

  .my-avatar__edit-button {
    margin: 0 auto;
  }
}