.page {
  background-color: #FCF5E5;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: #212121;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}